:root {
  --color-bg-action: #FFCC00;
  --color-bg-action-hovered: #F2C200;
  --color-border-action-focused: #B38F00;

  --color-bg-control: #E6E6E6;
  --color-bg-control-hovered: #DBDBDB;
  --color-border-control-focused: #B3B3B3;

  --color-bg-disabled: #F2F2F2;

  --color-text: #000000;
}
