.build-details-page {
  &__settings-button {
    margin-left: 8px;
  }

  &__build-info {
    margin-bottom: 12px;
  }

  &__spinner-area {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 300px;
  }
}
