.loading-page {

  &__spinner-area {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
  }

  &__spinner {
    display: grid;
    grid-template-columns: repeat(3, 1em);
    grid-gap: 0.5em;
    align-items: center;
    align-content: center;
  }

  &__spinner-bar {
    background: var(--color-bg-action);
    animation: load 1s infinite ease-in-out;
    transform: translateZ(0);
    width: 1em;
    height: 3em;

    &:nth-child(3n + 1) {
      animation-delay: 0.32s;
    }

    &:nth-child(3n + 2) {
      animation-delay: 0.64s;
    }
  }
}

@keyframes load {
  0%,
  100% {
    height: 3em;
  }
  50% {
    height: 6em;
  }
}
