.settings-page {

  &__form {
    max-width: 474px;
    min-width: 230px;
    width: 100%;
  }

  &__header {
    line-height: 20px;
    margin-bottom: 8px;
  }

  &__description {
    line-height: 18px;
    color: var(--color-settings-description-text);
    margin-bottom: 12px;
  }

  &__minutes-input {
    width: 52px;
  }

  &__buttons {
    margin-top: 8px;
    margin-bottom: 20px;

    display: grid;
    grid-row-gap: 12px;
    grid-column-gap: 8px;
    grid-template-columns: 1fr;

    @media (min-width: $desktop-breakpoint) {
      grid-template-columns: min-content min-content;
    }
  }
}
