.start-page {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
  }

  &__image {
    background-size: contain;
    background: url('../../src/assets/images/settings.svg') no-repeat center center;

    width: 124px;
    height: 124px;
  }

  &__description {
    max-width: 264px;
    margin-top: 32px;

    text-align: center;

    line-height: 16px;
  }

  &__button {
    margin-top: 24px;
  }
}
