.footer {
  display: grid;
  grid-template-columns: minmax(16px, 1fr) minmax(0px, var(--max-content-width)) minmax(16px, 1fr);

  background: var(--color-bg-footer);
  color: var(--color-footer-text);

  &__content {
    grid-column: 2;
    padding: 12px 0;

    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-breakpoint) {
      flex-direction: row;
      justify-content: space-between;
      padding: 7px 0;
    }
  }

  &__left {
    margin-bottom: 8px;

    @media (min-width: $desktop-breakpoint) {
      margin-bottom: 0;
    }
  }

  &__right {
  }

  &__item {
    & + & {
      margin-left: 12px;
    }
  }
}
