.icon {
  display: inline-block;
  background: left center no-repeat;
  background-size: contain;

  &--size-s {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
  }

  &--size-m {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
  }

  &--size-l {
    width: var(--icon-size-l);
    height: var(--icon-size-l);
  }

  @each $key in branch, calendar, clear, error, gear, pending, person, restart, start, success, timer {
    &--#{$key} {
      background-image: url('../../src/assets/icons/#{$key}.svg');
    }
  }
}
