.main {
  display: grid;
  grid-template-columns: minmax(16px, 1fr) minmax(0px, var(--max-content-width)) minmax(16px, 1fr);

  &__content {
    grid-column: 2;

    padding: 8px 0 16px;

    @media (min-width: $desktop-breakpoint) {
      padding-bottom: 20px;
    }
  }
}
