.footer {
  background: #F0F2F3;
  color: #7F8285;

  &__content {
    margin: 0 auto;
    max-width: 824px;

    padding: 12px 16px;

    display: flex;
    flex-direction: column;

    @media (min-width: 320px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 12px 16px;
    }

    @media (min-width: 824px) {
      padding: 12px 0;
    }
  }

  &__left {
    margin-bottom: 8px;

    @media (min-width: 320px) {
      margin-bottom: 0;
    }
  }

  &__right {
  }

  &__item {
    & + & {
      margin-left: 12px;
    }
  }
}
