.text-with-icon {
  display: flex;
  align-items: center;

  &__icon {
  }

  &__primary-text {
    font-family: YS Text;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;

    margin-left: 5px;
  }

  &__secondary-text {
    margin-left: 5px;
  }
}
