.text {
  font-family: var(--text-font-family);

  &--size-s {
    font-size: var(--text-size-s);
    letter-spacing: var(--text-letter-spacing-s);
  }

  &--size-m {
    font-size: var(--text-size-m);
    letter-spacing: var(--text-letter-spacing-m);
  }

  &--size-l {
    font-size: var(--text-size-l);
    letter-spacing: var(--text-letter-spacing-l);
  }

  &--size-xl {
    font-size: var(--text-size-xl);
    letter-spacing: var(--text-letter-spacing-xl);
  }
}

.header-text {
  font-family: var(--text-font-family);
  font-size: var(--text-size-l);
  letter-spacing: var(--text-letter-spacing-l);
  color: var(--color-header-text);
  font-weight: bold;
  margin: 0;

  @media (min-width: $desktop-breakpoint) {
    font-size: var(--text-size-xl);
    letter-spacing: var(--text-letter-spacing-xl);
  }

  &--inactive {
    color: var(--color-header-inactive-text);
  }

  &--small {
    font-size: var(--text-size-m);
    letter-spacing: var(--text-letter-spacing-m);
  }
}
