@import "../scss/scss-variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  padding: 0;

  background: var(--color-bg-button, var(--color-bg-control));

  border: var(--border-size-button) solid var(--color-border-button, var(--color-bg-control));
  border-radius: 4px;
  outline: none;

  cursor: pointer;

  &:hover {
    --color-border-button: var(--color-bg-control-hovered);
    --color-bg-button: var(--color-bg-control-hovered);
  }

  &:focus {
    --color-border-button: var(--color-border-control-focused);
  }

  &--action {
    --color-border-button: var(--color-bg-action);
    --color-bg-button: var(--color-bg-action);

    &:hover {
      --color-border-button: var(--color-bg-action-hovered);
      --color-bg-button: var(--color-bg-action-hovered);
    }

    &:focus {
      --color-border-button: var(--color-border-action-focused);
    }
  }

  &:disabled,
  &[disabled] {
    --color-border-button: var(--color-bg-disabled);
    --color-bg-button: var(--color-bg-disabled);
    cursor: not-allowed;
  }

  &__icon {
    margin: 0 10px;

    width: var(--icon-size-s);
    height: var(--icon-size-s);
  }

  &__text {
    margin: 0 calc(20px - var(--border-size-button));

    font-family: var(--text-font-family);
    font-size: var(--text-size-s);
    color: var(--color-text);  }

  &__icon + &__text {
    margin-left: -1px;
  }

  &--small {
    height: 28px;

    .button__icon {
      margin: 0 6px;
    }

    .button__text {
      margin: 0 11px;
    }

    .button__icon + .button__text {
      display: none;
      margin-left: -1px;

      @media (min-width: $desktop-breakpoint) {
        display: block;
      }
    }
  }
}
