.text-with-icon {
  display: flex;
  align-items: center;

  font-family: var(--text-font-family);
  font-size: var(--text-size-s);
  letter-spacing: var(--text-letter-spacing-s);

  &__icon {
  }

  &__primary-text {
    margin-left: 5px;

    color: var(--color-icon-with-text-primary-text);
  }

  &__secondary-text {
    margin-left: 5px;

    color: var(--color-icon-with-text-secondary-text);
  }
}
